apiVersion: apps/v1
kind: Deployment
metadata:
  name: adoption-api
  namespace: adoption
spec:
  selector:
    matchLabels:
      app: adoption-api
  template:
    metadata:
      labels:
        app: adoption-api
    spec:
      containers:
      - name: adoption-api
        image: seadiaz/adoption:build-68
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 3000
