---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: adoption-api
  namespace: adoption
  annotations:
    flux.weave.works/automated: "true"
    flux.weave.works/tag.adoption-api: glob:build-*
spec:
  selector:
    matchLabels:
      app: adoption-api
  template:
    metadata:
      labels:
        app: adoption-api
    spec:
      containers:
      - name: adoption-api
        image: seadiaz/adoption:build-80
        args:
        - "server"
        - "-s"
        - "badger"
        - "--badger-path"
        - "/badger/data"
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 3000
        volumeMounts:
        - name: badger
          mountPath: /badger/data
      volumes:
        - name: badger
          emptyDir: {}
